.DS_Store
revdep
*-exported.pdf
TODO
inst/doc
vignettes/*.html
vignettes/figure/*chunk*
vignettes/*_cache
vignettes/*_files
vignettes/*.R
README.Rmd
cache
docs
deprecated*
devel
tmp
*.gcno
TAGS
.git
*.o
*.so
*~
test
INDEX.missing
*.RData
*.Rhistory
*.Rcheck
*.tar.gz
*.zip
*.tgz
*.obsolete
x.log
nohup.out
tmp
valgrind*
test
*.tmp
*.bbl
*.blg
*.bak
*.snm
*.aux
*.log
*~
*.out
*.swp
*.nav
*.toc
*.vrb
*.dvi
_region*
symbols.rds
Rplots.pdf
doc
Meta
