import(utils)
import(stats)

export(
       lava,
       lava.options,
       lvm,
       regression, "regression<-",
       covariance, "covariance<-",
       kill,"kill<-",
       cancel,"cancel<-",
       vars,latent,"latent<-",manifest,exogenous,"exogenous<-",endogenous,
       "parameter<-",
       randomslope,"randomslope<-",
       covfix, "covfix<-",
       regfix, "regfix<-",
       intfix, "intfix<-",
       intercept, "intercept<-",
       parfix, "parfix<-",
       bootstrap, 
       constrain,"constrain<-",
       constraints,
       addvar,"addvar<-",       
       children,parents,
       survival,"survival<-",
       functional,distribution,
       "functional<-", "distribution<-",
       Graph,"Graph<-",
       Model,"Model<-",
       Weight,
       edgelabels,"edgelabels<-",
       labels,"labels<-",
       "nodecolor<-",       
       estimate, startvalues, startvalues2, measurement,
       estimate.MAR,
       gaussian_logLik.lvm,
       describecoef,baptize,
       modelsearch,
       equivalence,
       gof,
       compare,
       multigroup,
       score,
       information,
       parlabels,
       pars,
       moments,
       path,
       graph2lvm,
       sim,
       heavytail,
       "heavytail<-"
       makemissing,
       logit.lvm, probit.lvm, binomial.lvm, uniform.lvm, normal.lvm, poisson.lvm,
       weibull.lvm,
       fixsome,
       ##       variances, offdiags,
       frobnorm,
       Inverse,
       correlation,
       
       addhook,
       gethook,
       addattr,
       partialcor,
       
       variances,
       offdiags,
       reindex,
       index,
       "index<-",
       getoutcome,
       modelPar,
       modelVar,
       '%s%'
       )

S3method(modelPar, lvm)
S3method(modelPar, lvmfit)
S3method(modelVar, lvm)
S3method(modelVar, lvmfit)
S3method(regression, lvm)
S3method("regression<-", lvm)
S3method(kill, lvm)
S3method("kill<-", lvm)
S3method(cancel, lvm)
S3method("cancel<-", lvm)
S3method(addvar, lvm)
S3method("addvar<-", lvm)
S3method(covariance, lvm)
S3method("covfix<-", lvm)
S3method("intfix<-", lvm)
S3method("intfix", lvm)
S3method("intercept<-", lvm)
S3method("intercept", lvm)
S3method("regfix<-", lvm)
S3method("covfix", lvm)
S3method("regfix", lvm)
S3method("covariance<-", lvm)
S3method(estimate, lvm)
S3method(estimate, list)
S3method(estimate, formula)
S3method(estimate, lm)
S3method(deriv, lvm)
S3method(coef, lvm)
S3method(print, lvm)
S3method(summary, lvm)
S3method(subset, lvm)
S3method(baptize, lvm)
S3method(parents, lvm)
S3method(children, lvm)
S3method(parents, lvmfit)
S3method(children, lvmfit)
S3method(summary, lvmfit)
S3method(latent, lvm)
S3method(latent, lvmfit)
S3method("latent<-", lvm)
S3method("survival", lvm)
S3method("survival<-", lvm)
S3method(vars, lvm)
S3method(vars, lvmfit)
S3method(addattr, lvm)
S3method(addattr, graphNEL)
S3method(manifest, lvm)
S3method(manifest, lvmfit)
S3method(exogenous, lvm)
S3method(exogenous, list)
S3method("exogenous<-", lvm)
S3method(endogenous, lvm)
S3method(exogenous, lvmfit)
S3method(endogenous, lvmfit)
S3method(finalize, lvm)
S3method(plot, lvm)
S3method(residuals, lvmfit)
S3method(bootstrap,lvm)
S3method("parfix<-", lvm)
S3method(parfix, lvm)
S3method("parameter<-",lvm)
S3method("parameter<-",lvmfit)


### lvmfit
S3method(bootstrap,lvmfit)
S3method(confint,lvmfit)         
S3method(predict, lvm)
S3method(predict, lvmfit)
S3method(logLik, lvm)
S3method(logLik, lvmfit)
S3method(logLik, multigroup)
S3method(logLik, lvm.missing)
S3method(moments, lvm)
S3method(moments, lvmfit)
S3method(pars, default)
S3method(pars, lvm)
S3method(score, lvm)
S3method(score, lvmfit)
S3method(score, multigroup)
S3method(score, lvm.missing)
S3method(information, lvm)
S3method(information, lvmfit)
S3method(information, multigroup)
S3method(information, lvm.missing)
S3method(gof, lvmfit)
S3method(coef, lvmfit)
S3method(coef, summary.lvmfit)
S3method(print, lvmfit)
S3method(plot, lvmfit)
S3method(correlation, lvmfit)


S3method(functional, lvm)
S3method(distribution, lvm)
S3method("functional<-", lvm)
S3method("distribution<-", lvm)
S3method(sim, lvm)
S3method(heavytail, lvm)
S3method("heavytail<-", lvm)
S3method(sim, lvmfit)
S3method(vars, graph)
S3method("nodecolor<-",default)
S3method("labels<-",default)
S3method(labels,lvm)
S3method(labels,lvmfit)
S3method(edgelabels,lvm)
S3method(edgelabels,lvmfit)
S3method("edgelabels<-",lvm)
S3method("edgelabels<-",graphNEL)
S3method("edgelabels<-",lvmfit)
S3method(path,lvm)
S3method(path,lvmfit)
S3method(path,graphNEL)
S3method(effects,lvmfit)
S3method(model.frame, lvmfit)
S3method(Graph, lvm)
S3method(Graph, lvmfit)
S3method("Graph<-", lvm)
S3method("Graph<-", lvmfit)
S3method(Weight, default)
S3method(Model, lvmfit)
S3method("Model<-", lvmfit)
S3method(index, lvmfit)
S3method("index<-", lvmfit)
S3method(index, lvm)
S3method("index<-", lvm)
S3method(compare, default)
S3method(modelPar, lvm)
S3method(formula, lvm)
S3method(formula, lvmfit)
S3method(print,summary.lvmfit)
S3method(vcov, lvmfit)
S3method(print,lvmfit.randomslope)

### multigroup
S3method(print, multigroup)
S3method(summary, multigroup)
S3method(plot, multigroup)
S3method(estimate, multigroup)
S3method(modelPar, multigroup)
S3method(logLik, multigroup)
S3method(Model, multigroup)
S3method("Model<-", multigroup)
S3method(score, multigroup)
S3method(exogenous, multigroup)
S3method(score, multigroup)

### multigroupfit
##S3method(gof, multigroupfit)
S3method(pars, multigroupfit)
S3method(modelPar, multigroupfit)
S3method(coef, multigroupfit)
S3method(print, multigroupfit)
S3method(Model, multigroupfit)
S3method("Model<-", multigroupfit)
S3method(summary, multigroupfit)
S3method(vcov, multigroupfit)
S3method(print,summary.multigroupfit)
S3method(logLik, multigroupfit)
S3method(score, multigroupfit)
S3method(information, multigroupfit)


S3method(constrain,default)
S3method("constrain<-",default)
S3method("constrain<-",multigroupfit)
S3method(print,modelsearch)
S3method(print,equivalence)
S3method(print,bootstrap.lvm)
S3method(print, fix)
S3method(print, gof.lvmfit)
S3method(print, effects)

